*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  background-color: #cce6ff;
}

.main-content {
  height: 100vh;
  padding: 2rem;
  gap: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: #0059b3;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 3px;
  }

  h2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  h3 {
    font-size: 1.2rem;
  }

  .level {
    cursor: pointer;
    background-color: #0059b3;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 3px solid #001a33;
    border-radius: 0.25rem;
    padding: 6px 12px;
    font-weight: 700;
    font-size: 1rem;
    margin: 1rem;
  }

  .level:hover {
    background-color: #004891;
  }

  img {
    width: 1.5rem;
  }
}
.enter-word {
  padding: 5px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66, 66, 66, 0.5);
  text-shadow: -50px 0px 0px rgba(66, 66, 66, 0);
}

.enter-word:focus {
  outline: none;
}
.word {
  color: #00334d;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

.info {
  font-weight: 700;
}

.hint {
  color: #248f24;
  font-weight: 700;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  text-align: center;
}

.stat {
  font-weight: 700;
}

.check-btn {
  cursor: pointer;
  background-color: #ffd700;
  color: black;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 3px solid #001a33;
  border-radius: 0.25rem;
  padding: 6px 12px;
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem;
}

.check-btn:hover {
  background-color: #e8c500;
}
